.contact {
    margin-block: 10rem;

    &__title {
        font-weight: 800;
        margin-bottom: 2rem;
    }
    label {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1.5rem;
        color: #07090d;
        margin-bottom: 0.375rem;
    }

    input {
        border: 1px solid $light-grey;
        padding: 1rem 1.75rem;
        border-radius: 0.5rem;
    }

    .checkbox__label {
        margin: 0;
        margin-left: 0.5rem;
        color: $default-text;

        a {
            color: $default-text;
            font-weight: 600;
        }
    }

    .checkbox__input {
        border-radius: 2px;
        border: 1px solid #c3c9d5;
    }

    textarea {
        width: 100%;
        border: 1px solid $light-grey;
        padding: 1.25rem 1.75rem;
        border-radius: 0.5rem;
    }
}

input[type="checkbox"] {
    position: relative;
    width: 1.25em;
    height: 1.25em;
    color: $black;
    border: 1px solid $light-grey;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    padding: 0;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    &::before {
        position: absolute;
        content: "";
        display: block;
        top: 1px;
        left: 6px;
        width: 7px;
        height: 12px;
        border-style: solid;
        border-color: white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }
    &:checked {
        color: white;
        border-color: $dark-gray;
        background: $dark-gray;
        &::before {
            opacity: 1;
        }
        ~ label::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}
