.footer {
    &__logo {
        font-weight: 900;
        color: black;

        @media screen and (max-width: 992px) {
            text-align: center;

            margin-bottom: 2rem;
        }
    }

    &__links-container {
        display: flex;
        justify-content: space-between;
        padding-block: 5rem;
        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;

        @media screen and (max-width: 576px) {
            flex-direction: column;
        }

        @media screen and (min-width: 576px) and (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 6rem;
        padding: 0;

        @media screen and (max-width: 576px) {
            flex-direction: column;
            gap: 3rem;
        }

        @media screen and (min-width: 576px) and (max-width: 992px) {
            flex-direction: column;
            gap: 3rem;
        }

        &-item {
            font-weight: 500;
        }
    }

    &__socials {
        @include socials;
        gap: 0rem;

        .social-icon {
            background-color: transparent;
        }
    }

    &__copyright {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}
