.goal {
    padding-block: 10rem;
    position: relative;
    background: $dark-blue;
    margin-bottom: 10rem;

    &__text {
        color: white;
        font-weight: 400;
        max-width: 1200px;

        span {
            background: $text-gradient-light;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__decoration {
        position: absolute;
        top: -8rem;
        right: 2rem;
        width: 20rem;

        @media screen and (max-width: 768px) {
            width: 10rem;
        }

        @media screen and (max-width: 992px) {
            width: 15rem;
            top: -8rem;
        }
    }
}
