@mixin socials {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .social-icon {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.65rem;
        background-color: $light-grey;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
        }
    }
}

@mixin divider {
    width: 1px;
    background-color: $light-grey;
    height: 10px;
    margin-inline: 0.5rem;
}
