.team {
    margin-block: 6rem;

    &__title {
        text-align: center;
        font-weight: 700;
        color: black;
        margin-bottom: 5rem;
    }
}

.member {
    border: 1px solid $light-grey;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1.5rem;

    &__picture {
        width: 100%;
        object-fit: cover;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: 600;
        color: black;

        @media screen and (max-width: 576px) {
            font-size: 1.15rem;
        }
    }

    &__divider {
        @include divider;
    }

    &__role {
        color: $blue-base;
        font-size: 0.85rem;
    }

    &__socials {
        @include socials;
    }

    &__desc {
        color: $default-text;
        margin-block: 1.5rem;
    }
}
