.testimonials {
    &__img {
    }

    &__title {
        font-size: 3rem;
        color: black;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__text-content {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
