$default-gradient: linear-gradient(98.19deg, #0047ff 2.94%, #0022ff 93.48%);
$text-gradient: linear-gradient(90.1deg, #0038ff 67.64%, #ad00ff 89.78%);
$text-gradient-light: linear-gradient(
        90.17deg,
        rgba(255, 255, 255, 0.9) 2.49%,
        rgba(95, 70, 255, 0.9) 31.87%,
        rgba(255, 255, 255, 0.586523) 67.72%,
        rgba(255, 255, 255, 0.9) 98.09%
    ),
    #ffffff;

$dark-blue: #000b28;
$default-blue: #0022ff;
$blue-base: #1355ff;
$cyan: #6e7ddb;

$black: #131316;
$dark-gray: #383942;
$default-text: #4f4f4f;
$light-grey: #e7eaee;

$neutral-light: #acb4c3;
$neutral: #3c4353;

$box-shadow: rgba(143, 143, 143, 0.25) 0px 25px 50px -12px;
